@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
}
:root {
  --primary: #89CFF0; /* Baby Blue */
  --secondary: #f8f9fa; /* Off White */
  --accent: #b0b8c1; /* Gray */
  --text-dark: #2a2a2a;
  --text-light: #666;
  --hover: #5ca6d1; /* Darker Baby Blue */
} 
/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  color: var(--text-dark);
}